@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 21, 232, 0.12) 0%,
      rgba(191, 16, 173, 0.0444) 63%,
      rgba(153, 13, 139, 0) 100%
    );
  }
  .heading-1 {
    @apply font-bold text-xl sm:text-3xl md:text-4xl;
  }
  .heading-2 {
    @apply font-bold text-2xl lg:text-4xl;
  }
  .heading-3 {
    @apply font-medium leading-6 xl:text-2xl text-lg sm:text-lg lg:text-xl lg:leading-[45px];
  }
  .heading-4 {
    @apply font-light text-lg md:text-xl;
  }
  .heading-5 {
    @apply text-lg font-medium;
  }
  .paragraph {
    @apply font-normal text-[14px] leading-8 lg:text-lg;
  }
  .paragraph2 {
    @apply text-base sm:text-2xl font-light !leading-10;
  }
  .margin-1 {
    @apply mx-4 lg:mx-10;
  }
  .flex-image-text {
    @apply flex flex-col-reverse md:flex-row md:h-fit items-center justify-around gap-8 md:gap-12;
  }
  .flex-text {
    @apply flex flex-col items-center md:items-start gap-4  p-2 w-full md:w-1/2;
  }
  .social-item {
    @apply p-2 w-16 h-16 rounded-2xl flex justify-center items-center relative z-20;
  }
  .no-scroll {
    overflow: hidden;
  }
}
.shaddow {
  box-shadow: 0px 0px 35px 0px #54c49580;
}
.gradient-border-1 {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(140, 140, 140, 0.45) -17.23%,
    rgba(255, 255, 255, 0.045) 84.38%
  );
  border-image-slice: 1;
}
.gradient-border-2 {
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(100, 1, 107, 0.084) -15.67%,
    rgba(100, 1, 107, 0.056) 8.17%,
    rgba(100, 1, 107, 0.7) 48.91%,
    rgba(100, 1, 107, 0.056) 87.81%
  );
  border-image-slice: 1;
}
.dark .gradient-border-2 {
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.084) -15.67%,
    rgba(255, 255, 255, 0.056) 8.17%,
    rgba(255, 255, 255, 0.7) 48.91%,
    rgba(255, 255, 255, 0.056) 87.81%
  );
  border-image-slice: 1;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7d8087;
}

.video-poster {
  background-image: url("/mainPage/poster.png");
}
.dark .text-border-dark {
  color: rgb(0, 0, 0) !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1) !important;
  -webkit-text-stroke: 1px #ffffff33 !important;
}
.text-border-light {
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 1px #00000033;
}
.bg-gradient-insta {
  background: linear-gradient(
    216.01deg,
    #833ab4 15.3%,
    #fd1d1d 48.38%,
    #fcb045 85.06%
  );
}
/* background: linear-gradient(90deg, #b806b1 0.07%, #ff4d42 100.07%); */
